<div class="form-login">
  <mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <form  (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput type="text" [placeholder]="usernameText" 
          [(ngModel)]="loginUser.username" name="username" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" [placeholder]="passwordText" 
          [(ngModel)]="loginUser.password" name="password" required>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" 
        [disabled]="!loginForm.form.valid">{{loginButtonText}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>