.full-width {
    width: 100%;
}

.form-login {
    width: 100%;
    margin: auto;
}
@media(min-width: 600px) {
    .form-login {
        width: 50%;
        margin: auto;
    }
}
@media(min-width: 768px) {
    .form-login {
        width: 33%;
        margin: auto;
    }
}